<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>제조기록서</title>

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/css/desktop_2.css"/>
  <link rel="stylesheet" href="/css/custom_2.css"/>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/temp.js"></script>

  <script src="/js/xlsx.full.min.js"></script>
  <script src="/js/tui-grid.js"></script>
  <link rel="stylesheet" href="/css/tui-grid.css"/>

  <script src="https://cdn.tiny.cloud/1/9hwtzxtc2zwisi7b85nco60f3mzb63hrh69z1w3qywn28snr/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

  <style>
      .chan-blue > div {
          color: blue !important;
          text-decoration: underline;
          cursor: pointer;
      }

      #detailTiny * {
          all: revert;
      }

      /*#listGridParent, #list_2GridParent {*/
      /*    width: 100%;*/
      /*    display: flex;*/
      /*    flex-direction: column;*/
      /*}*/

      /*#listGrid, #list_2Grid {*/
      /*    flex: 1;*/
      /*    min-height: 300px;*/
      /*}*/
  </style>
</head>

<body>
<div class="container is-header">
  <!-- nav -->
  <!-- [ Header ] start -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-logo">
      <a class="navbar-link" href="/" rel="noopener">
        <span class="logo is-gsitm-hr is-medium">
          <img src="img/svg/logo-kgc.svg"/>
          <!--<svg id="svgKgcLogo"><use href="#logo-kgc"></use></svg>-->
        </span>
      </a>
    </div>
    <div class="navbar-menu">
      <ul class="navbar-left" id="headerMenu">
        <li class="navbar-item" data-target="dom">
          <a class="navbar-link" href="#" aria-current="page" rel="noopener">
            <span class="icon is-person-check is-medium">
              <svg id="svgClipboard"><use href="#clipboard"></use></svg>
            </span>
            <span>문서관리</span>
          </a>
        </li>
        <li class="navbar-item" data-target="com">
          <a class="navbar-link" href="#" aria-current="page" rel="noopener">
            <span class="icon is-person-check is-medium">
              <svg id="svgWindowGear"><use href="#window-gear"></use></svg>
            </span>
            <span>공통관리</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-right">
        <li class="navbar-item">
          <a class="navbar-link" id="btnsiteMap" href="#" aria-current="page" rel="noopener"></a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" id="headerEmplSearch" href="#" aria-current="page" rel="noopener">
            <div class="control is-x-large has-icon-right" style="width: 150px;">
              <input id="inputEmplSearch" type="text" th:placeholder="사원검색" class="input" disabled/>
              <span class="icon is-search is-large">
                  <svg id="svgSearch"><use href="#search"></use></svg>
              </span>
            </div>
          </a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#" aria-current="page" rel="noopener">
            <span class="icon is-logout is-medium">
                <svg id="svgLogout"><use href="#logout"></use></svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- [ Header ] end -->

  <!-- side -->
  <div class="container is-page" id="mainBody">
    <div class="columns is-page">
      <!-- [ navigation menu ] start -->
      <aside class="left-navbar is-active">
        <button class="lnb-toggle-btn is-active">LNB 접기/펼치기</button>
        <div class="profile">
          <div class="columns">
            <figure id="_psmstrPhotoPicture" class="id-photo">
              <img id="_psmstrPhotoImg" src="/img/jpg/user-photo-default@2x.jpg" alt="사용자 사진" class="profile-photo"/>
            </figure>
            <div class="profile-content">
              <p class="profile-personnel">
                <span id="_profile_userNm" class="profile-name">테스트</span>
                <span id="_profile_posiNm" class="profile-position">관리자</span>
                <button id="btnProfileSetting" class="button is-setting is-ghost">
                  <span class="icon is-setting is-filled is-white is-medium">
                    <svg id="svgSettingsFilled"><use href="#settings-filled"></use></svg>
                  </span>
                </button>
              </p>
              <p class="profile-personnel">
                <span class="profile-id" id="_profile_userId">testId</span>
                <span class="profile-divider">|</span>
                <span class="profile-team" id="_profile_deptNm">인사팀</span>
              </p>
              <p id="_profile_emailAd" class="profile-email" style="font-size: smaller;"></p>
            </div>
          </div>
          <div class="field">
            <div class="control is-x-large has-icon-right">
              <input id="menuSearch" type="text" th:placeholder="메뉴검색" class="input" autocomplete="off" disabled/>
              <span class="icon is-search is-large">
                <svg id="svgSearch_2"><use href="#search"></use></svg>
              </span>
              <ul class="search-result"></ul>
            </div>
          </div>
        </div>
        <ul class="tabs is-menu">
          <li class="tab is-active" data-target="base">
            <a class="tab-link" href="#" rel="noopener">
              <span class="icon is-medium is-menu">
                <svg id="svgMenu"><use href="#menu"></use></svg>
              </span>
              <span>메뉴</span>
            </a>
          </li>
          <li class="tab" data-target="fav">
            <a class="tab-link" href="#" rel="noopener">
              <span class="icon is-medium is-menu">
                <svg id="svgStar"><use href="#star"></use></svg>
              </span>
              <span>즐겨찾기</span>
            </a>
          </li>
        </ul>
        <div class="tab-contents is-menu">
          <div class="tab-content is-menu is-active">
            <ul id="sideMenuDoc" class="menu" style="display: none;">
              <li class="menu-item">
                <a class="menu-link" href="#" aria-current="page" rel="noopener" onclick="loadPage('list')">
                  제조기록서
                </a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="#" aria-current="page" rel="noopener"  onclick="loadPage('formList')">
                  제조기록서 양식
                </a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="#" aria-current="page" rel="noopener" onclick="loadPage($(this).text())">
                  샘플메뉴_1
                </a>
              </li>
            </ul>
            <ul id="sideMenuCom" class="menu" style="display:none;">
              <li class="menu-item">
                <a class="menu-link" href="#" aria-current="page" rel="noopener" onclick="loadPage($(this).text())">
                  샘플메뉴_2
                </a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="#" aria-current="page" rel="noopener">
                  샘플메뉴_3
                  <ul class="sub-menu">
                    <li class="sub-menu-item">
                      <a class="sub-menu-link" href="#" rel="noopener" onclick="loadPage($(this).text())">샘플하위메뉴_1</a>
                    </li>
                    <li class="sub-menu-item">
                      <a class="sub-menu-link" href="#" rel="noopener" onclick="loadPage($(this).text())">샘플하위메뉴_2</a>
                    </li>
                    <li class="sub-menu-item">
                      <a class="sub-menu-link" href="#" rel="noopener" onclick="loadPage($(this).text())">샘플하위메뉴_3</a>
                    </li>
                  </ul>
                </a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="#" aria-current="page" rel="noopener" onclick="loadPage($(this).text())">
                  샘플메뉴_4
                </a>
              </li>
            </ul>
            <ul id="sideMenuFav" class="menu" style="display: none;">
            </ul>
          </div>
          <div class="tab-content is-favorite">
            <ul id="favoriteMenu" class="favorite"></ul>
          </div>
        </div>
      </aside>
      <div class="page" id="mainContent">
        <!-- 메인 페이지 시작... -->
        <!-- 0(S) -->
        <div class="content" id="formListForm" style="display: none;">
          <div class="page is-main">
            <div class="page-body">
              <div class="card is-sub is-search">
                <div class="card-header">
                  <h1 class="page-title">
                    제조기록서 양식
                    <div class="columns">
                      <ul aria-label="breadcrumbs" class="breadcrumbs has-chevron-separator">
                        <li class="breadcrumb">
                          <span>홈</span>
                        </li>
                        <li aria-current="page"class="breadcrumb is-active">
                          <a href="#"rel="noopener">제조기록서</a>
                        </li>
                      </ul>
                      <label class="checkbox is-star">
                        <input type="checkbox"/>
                        <span class="icon is-star is-large">
                          <svg><use href="#star"></use></svg>
                        </span>
                        <div class="tooltip">즐겨찾기</div>
                      </label>
                      <button class="button is-question is-ghost">
                        <span class="icon is-question is-filled is-medium">
                          <svg><use href="#question-filled"></use></svg>
                        </span>
                        <div class="tooltip">도움말</div>
                      </button>
                    </div>
                  </h1>
                </div>
                <div class="card-body">
                  <table class="table is-search is-fullwidth">
                    <colgroup>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 7.4%;"/>
                    </colgroup>
                    <tbody>
                    <tr>
                      <th><span>등록일자</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th><span>공정번호</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th></th>
                      <td></td>
                      <td rowspan="2">
                        <button type="button" class="button is-search is-filled is-medium" disabled>
                            <span class="icon is-search is-medium">
                                <svg><use href="#search"></use></svg>
                            </span>
                          <span>조회</span>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <th><span>제조번호</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th><span>품목</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th></th>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="card is-sub">
                <div class="card-body">
                  <div class="columns has-gap">
                    <div class="column">
                      <div class="form" id="list_2GridParent">
                        <div class="columns has-table-title">
                          <h2 class="table-title">
                            <span>제조기록서 양식</span>
                            <span class="data-count"><span>3</span>건</span>
                          </h2>
                        </div>
                        <div id="list_2Grid"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 0(E) -->

        <!-- 1(S) -->
        <div class="content" id="listForm" style="display: none;">
          <div class="page is-main">
            <div class="page-body">
              <div class="card is-sub is-search">
                <div class="card-header">
                  <h1 class="page-title">
                    제조기록서
                    <div class="columns">
                      <ul aria-label="breadcrumbs" class="breadcrumbs has-chevron-separator">
                        <li class="breadcrumb">
                          <span>홈</span>
                        </li>
                        <li aria-current="page"class="breadcrumb is-active">
                          <a href="#"rel="noopener">제조기록서</a>
                        </li>
                      </ul>
                      <label class="checkbox is-star">
                        <input type="checkbox"/>
                        <span class="icon is-star is-large">
                          <svg><use href="#star"></use></svg>
                        </span>
                        <div class="tooltip">즐겨찾기</div>
                      </label>
                      <button class="button is-question is-ghost">
                        <span class="icon is-question is-filled is-medium">
                          <svg><use href="#question-filled"></use></svg>
                        </span>
                        <div class="tooltip">도움말</div>
                      </button>
                    </div>
                  </h1>
                </div>
                <div class="card-body">
                  <table class="table is-search is-fullwidth">
                    <colgroup>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 7.4%;"/>
                    </colgroup>
                    <tbody>
                    <tr>
                      <th><span>등록일자</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th><span>공정번호</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th></th>
                      <td></td>
                      <td rowspan="2">
                        <button type="button" class="button is-search is-filled is-medium" disabled>
                            <span class="icon is-search is-medium">
                                <svg><use href="#search"></use></svg>
                            </span>
                          <span>조회</span>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <th><span>제조번호</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th><span>품목</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th></th>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="card is-sub">
                <div class="card-body">
                  <div class="columns has-gap">
                    <div class="column">
                      <div class="form" id="listGridParent">
                        <div class="columns has-table-title">
                          <h2 class="table-title">
                            <span>제조기록서</span>
                            <span class="data-count"><span id="listGridCnt">0</span>건</span>
                          </h2>
                          <div class="buttons">
                            <button id="btnListWrite" type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;">
                              제조기록서 작성
                            </button>
                          </div>
                        </div>
                        <div id="listGrid"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 1(E) -->

        <!-- 2(S) -->
        <div class="content" id="emptyForm" style="display: none;">
          <div class="page is-main">
            <div class="page-body">
              <div class="card is-sub is-search">
                <div class="card-header">
                  <h1 class="page-title" id="emptyTitle">빈페이지</h1>
                </div>
                <div class="card-body">
                  <table class="table is-search is-fullwidth">
                    <colgroup>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 7.4%;"/>
                    </colgroup>
                    <tbody>
                    <tr>
                      <th><span>검색조건1</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th><span>검색조건2</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th></th>
                      <td></td>
                      <td rowspan="2">
                        <button type="button" class="button is-search is-filled is-medium" disabled>
                            <span class="icon is-search is-medium">
                                <svg><use href="#search"></use></svg>
                            </span>
                          <span>조회</span>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <th><span>검색조건3</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th><span>검색조건4</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th></th>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="card is-sub">
                <div class="card-body">
                  <div class="columns has-gap">
                    <div class="column">
                      <div class="form">
                        <div class="columns has-table-title">
                          <h2 class="table-title">
                            <span>검색결과</span>
                            <span class="data-count"><span>x</span>건</span>
                          </h2>
                        </div>
                        <div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 2(E) -->

        <!-- 4(S) -->
        <div class="content" id="updateForm" style="display: none;">
          <div class="page is-main">
            <div class="page-body">
              <div class="card is-sub is-search" style="padding: 0 5rem 5rem 15rem">
                <div class="card-header">
                  <h1 class="page-title">제조기록서 양식 수정</h1>
                </div>
              </div>

              <div class="card is-sub">
                <div class="card-body">
                  <div class="columns has-gap">
                    <div class="column">
                      <div class="form">
                        <div class="columns has-table-title">
                          <h2 class="table-title">
                            <span>양식</span>
                          </h2>
                          <div class="buttons">
                            <button id="btnUpdate" type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;">
                              수정하기
                            </button>
                          </div>
                        </div>
                        <div id="updateTiny"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 4(E) -->

        <!-- 5(S) -->
        <div class="content" id="writeForm" style="display: none;">
          <div class="page is-main">
            <div class="page-body">
              <div class="card is-sub is-search" style="padding: 0 5rem 5rem 15rem">
                <div class="card-header">
                  <h1 class="page-title" id="writeFormTitle">제조기록서 작성</h1>
                </div>
              </div>

              <div class="card is-sub">
                <div class="card-body">
                  <div class="columns has-gap">
                    <div class="column">
                      <div class="form">
                        <div class="columns has-table-title">
                          <h2 class="table-title">
                            <span>양식</span>
                          </h2>
                          <div class="buttons">
                            <button id="btnWrite" type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;">
                              작성하기
                            </button>
                            <button id="btnWriteUpdate" type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;">
                              수정하기
                            </button>
                          </div>
                        </div>
                        <div id="writeTiny"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 5(E) -->

        <!-- 6(S) -->
        <div class="content" id="detailForm" style="display: none;">
          <div class="page is-main">
            <div class="page-body">
              <div class="card is-sub is-search" style="padding: 0 5rem 5rem 15rem">
                <div class="card-header">
                  <h1 class="page-title" id="detailTitle">제조기록서 상세</h1>
                </div>
              </div>

              <div class="card is-sub">
                <div class="card-body">
                  <div class="columns has-gap">
                    <div class="column">
                      <div class="form">
                        <div class="columns has-table-title">
                          <h2 class="table-title">
                            <span></span>
                          </h2>
                          <div class="buttons">
                            <button id="btnDetailWrite" type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;">
                              기록서 수정
                            </button>
                            <button id="btnDetailUpdate" type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;">
                              양식 수정
                            </button>
                          </div>
                        </div>
                        <div id="detailTiny" style="margin-left: 15%;"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 6(E) -->

        <div id="myModal" class="my-modal">
          <div class="my-modal-content">
            <span class="my-close">&times;</span>
            <h1 class="page-title" id="myModalTitle">제조기록서 작성</h1>
            <br/>
            <div id="list_3Grid"></div>
          </div>
        </div>
        <!-- 메인 페이지 끝... -->
      </div>
    </div>
  </div>
</div>

<script th:inline="javascript">

  let nowEnable = false;    //테이블 resize 현재값
  let tinyHeight = 500;
  let listGrid;
  let list_2Grid;
  let list_3Grid;
  let writeIdx = 0;

  let documentList = {
    'content_1': {idx: 'content_1', content: content_1, docName: '제조지시 및 기록서', prodName: '홍삼정 (Cage 추출방식)', process: '원료투입', worker: '홍길동', workDate: '2025-03-19', _attributes:{className:{column:{docName:['chan-blue']}}}}
    , 'content_2': {idx: 'content_2', content: content_2, docName: '제조지시 및 기록서', prodName: '홍삼정', process: '충전', worker: '홍길동', workDate: '2025-03-19', _attributes:{className:{column:{docName:['chan-blue']}}}}
    , 'content_3' : {idx: 'content_3', content: content_3, docName: '포장지시 및 기록서', prodName: '홍삼정', process: '포장', worker: '홍길동', workDate: '2025-03-19', _attributes:{className:{column:{docName:['chan-blue']}}}}
  };
  let writeList = {};

  let nowDetailContent;   //상세페이지에서 사용되는 content
  let nowDetailLocation;  //상세페이지 호출 경로

  $(document).ready(function() {
    setSvg();
    initEvent();
  })  //document.ready

  function setSvg() {
    const svgPath = "/img/svg/"; // SVG 파일 경로

    $("svg").each(function () {
      const $svg = $(this);
      const symbolId = $svg.find("use").attr("href").replace("#", ""); // href 값에서 # 제거
      const filePath = `${svgPath}${symbolId}.svg`; // 파일 경로 만들기

      // SVG 파일 불러와서 대체
      $.get(filePath, function (data) {
        const svgContent = $(data).find("svg").html(); // SVG 내부 내용만 가져오기
        $svg.html(svgContent); // 기존 <use>를 대체
      });
    });
  } //setSvg


  function initEvent() {
    //GNB
    $("#headerMenu .navbar-item").click(function() {
      $("#headerMenu .navbar-item").removeClass("is-active");

      // 클릭한 li에 is-active 추가
      $(this).addClass("is-active");
      if($(this).data('target') == 'dom') {
        $("#sideMenuCom").hide();
        $("#sideMenuFav").hide();
        $("#sideMenuDoc").show();
      }else if($(this).data('target') == 'com') {
        $("#sideMenuDoc").hide();
        $("#sideMenuFav").hide();
        $("#sideMenuCom").show();
      }
    });

    //LNB
    $("ul.menu .menu-item").click(function() {
      let isAlreadyActive = $(this).hasClass('is-active');
      if(!isAlreadyActive) {
        $(".sub-menu-item").removeClass('is-active');
        $("ul.menu .menu-item").removeClass('is-active');
        $(this).addClass('is-active');
      }
    });

    //LNB
    $("ul.menu .menu-item .sub-menu .sub-menu-item").click(function() {
      let isAlreadyActive = $(this).hasClass('is-active');
      if(!isAlreadyActive) {
        $(".sub-menu-item").removeClass('is-active');
        $(this).addClass('is-active');
      }
    });

    //LNB(접고 펼치기)
    $('.lnb-toggle-btn').click(function() {
      $(this).toggleClass('is-active');
      $('.left-navbar').toggleClass('is-active');
    });

    $('.navbar-left').click(function() {
      $(".left-navbar, .lnb-toggle-btn").addClass("is-active");
    })

    if ($(window).width() <= 1600) {
      tinyHeight = '64vh';
      $(".left-navbar, .lnb-toggle-btn").removeClass("is-active");

      const closeNavbar = () => {
        if ($(".left-navbar").hasClass("is-active") && $(".lnb-toggle-btn").hasClass("is-active")) {
          $(".left-navbar, .lnb-toggle-btn").removeClass("is-active");
        }
      };

      $("#mainContent, iframe").click(closeNavbar);
    }

    //TABS(메뉴/즐겨찾기)
    $("ul.tabs .tab").click(function() {
      $("ul.tabs .tab").removeClass('is-active');
      $(this).addClass('is-active');

      if($(this).data('target') == 'base') {
        let gnb = $("#headerMenu .navbar-item.is-active").data("target");
        if(gnb && gnb == 'dom') {
          $("#sideMenuCom").hide();
          $("#sideMenuFav").hide();
          $("#sideMenuDoc").show();
        }else if(gnb && gnb == 'com') {
          $("#sideMenuDoc").hide();
          $("#sideMenuFav").hide();
          $("#sideMenuCom").show();
        }else {
          $("#sideMenuDoc").hide();
          $("#sideMenuFav").hide();
          $("#sideMenuCom").hide();
        }
      }else if($(this).data('target') == 'fav') {
        $("#sideMenuDoc").hide();
        $("#sideMenuCom").hide();
        $("#sideMenuFav").show();
      }
    });

    $("#btnWrite").click(() => {
      if(confirm('저장하시겠습니까?')) {
        writeIdx++;
        writeList['writeContent_'+writeIdx] = {
          idx: 'writeContent_'+writeIdx
          , content: tinymce.get('writeTiny').getContent()
          , docName: documentList[nowDetailContent].docName
          , prodName: documentList[nowDetailContent].prodName
          , process: documentList[nowDetailContent].process
          , worker: '홍길동'
          , workDate: new Date().toLocaleDateString('en-CA')
          , _attributes:{className:{column:{docName:['chan-blue']}}}
        }
        ;
        alert('저장되었습니다.');
        loadPage('list');
      }
    });

    $("#btnWriteUpdate").click(() => {
      if(confirm('수정하시겠습니까?')) {
        writeList[nowDetailContent] = {
          idx: nowDetailContent
          , content: tinymce.get('writeTiny').getContent()
          , docName: writeList[nowDetailContent].docName
          , prodName: writeList[nowDetailContent].prodName
          , process: writeList[nowDetailContent].process
          , worker: '홍길동'
          , workDate: new Date().toLocaleDateString('en-CA')
          , _attributes:{className:{column:{docName:['chan-blue']}}}
        }
        ;
        alert('수정되었습니다.');
        loadPage('list');
      }
    });

    $("#btnListWrite").click(() => {
      setList_3Grid();
      $("#myModal").fadeIn();
    });

    $("#btnUpdate").click(() => {
      if(confirm('수정하시겠습니까?')) {
        alert('수정되었습니다.');
        documentList[nowDetailContent].content = tinymce.get('updateTiny').getContent();
        loadPage('formList');
      }
    });

    $("#btnDetailWrite").click(() => {
      let idx = nowDetailContent;
      if(nowDetailContent) {
        nowDetailLocation = 'listUpdate';
        loadPage('write', writeList[idx].content);
      }
    });

    $("#btnDetailUpdate").click(() => {
      let idx = nowDetailContent;
      if(nowDetailContent) loadPage('update', documentList[idx].content);
    });

    $(".my-close, .my-modal").click(function(event){
      if (event.target === this) {
        $("#myModal").fadeOut();
        list_3Grid.destroy();
        list_3Grid = null;
      }
    });
  } //initEvent

  function loadPage(type, content) {

    $("#listForm, #emptyForm, #updateForm, #writeForm, #detailForm, #formListForm").fadeOut(300).promise().done(function() {
      $("input").val('');
      destroyTiny();
      destroyGrid();

      if(type === 'list') {
        nowDetailContent = '';
        nowDetailLocation = '';
        $("#listGridCnt").text(Object.keys(writeList).length);
        setListGrid();
        $("#listForm").fadeIn(300);
      }else if(type === 'formList') {
        nowDetailContent = '';
        nowDetailLocation = '';
        setList_2Grid();
        $("#formListForm").fadeIn(300);
      }else if (type === 'write') {
        setTinyMce('writeTiny').then(() => {
          if(content) tinymce.get('writeTiny').setContent(content);
          if(nowDetailLocation === 'listUpdate') {
            $("#writeFormTitle").text('제조기록서 수정');
            $("#btnWriteUpdate").show();
            $("#btnWrite").hide();
          }else if(nowDetailLocation === 'newWrite') {
            $("#writeFormTitle").text('제조기록서 작성');
            $("#btnWrite").show();
            $("#btnWriteUpdate").hide();
          }else {
            $("#writeFormTitle").text('제조기록서 작성');
            $("#btnWrite").hide();
            $("#btnWriteUpdate").hide();
          }
          $("#writeForm").fadeIn(300);
        });
      }else if (type === 'update') {
        setTinyMce('updateTiny').then(() => {
          if(content) tinymce.get('updateTiny').setContent(content);
        });
        $("#updateForm").fadeIn(300);
      }else if(type === 'detail') {
        $("#detailTiny").html(content);
        if(nowDetailLocation === 'form') {
          $("#detailTitle").text('제조기록서 양식 상세');
          $("#btnDetailWrite").hide();
          $("#btnDetailUpdate").show();
        } else if(nowDetailLocation === 'list') {
          $("#detailTitle").text('제조기록서 상세');
          $("#btnDetailUpdate").hide();
          $("#btnDetailWrite").show();
        } else {
          $("#detailTitle").text('제조기록서 상세');
          $("#btnDetailUpdate").hide();
          $("#btnDetailWrite").hide();
        }
        $(".custom-radio").css("pointer-events", "none");
        $("#detailForm").fadeIn(300);
      }else {
        nowDetailContent = '';
        nowDetailLocation = '';
        $("#emptyTitle").text(type);
        $("#emptyForm").fadeIn(300);
      }
    });
  } //loadPage

  function destroyTiny(targetTiny) {
    if(targetTiny) {
      let editor = tinymce.get(editorId); // 현재 에디터 가져오기
      editor.setContent('');
      editor.destroy(); // 현재 에디터 제거
    }else {
      if(tinymce.get().length>0) tinymce.get().forEach(editor => {editor.setContent('');editor.destroy();});
    }
  }

  function destroyGrid() {
    if(listGrid) {
      listGrid.destroy();
      listGrid = null;
    }
    if(list_2Grid) {
      list_2Grid.destroy();
      list_2Grid = null;
    }
  }

  function setTinyMce(tag) {
    return new Promise((resolve, reject) => {
      try {
        if (tag === 'writeTiny') {
          setWriterTiny(tag).then(resolve);
        } else {
          setManagerTiny(tag).then(resolve);
        }
      } catch (error) {
        reject(error);
      }
    });
  } //setTinyMce

  function toggleTableResize(editorId) {
    let editor = tinymce.get(editorId); // 현재 에디터 가져오기

    if (editor) {
      let tempContent = editor.getContent();
      editor.destroy(); // 현재 에디터 제거
      setManagerTiny(editorId).then(() => tinymce.get(editorId).setContent(tempContent));
    }
  } //toggleTableResize

  function setManagerTiny(tag) {
    return new Promise((resolve, reject) => {
      try {
        tinymce.init({
          selector: '#'+tag
          , language: 'ko_KR'
          , resize: true
          , min_height: 500
          , height: tinyHeight
          , branding: false
          , elementpath: false
          , plugins: [
            'anchor', 'charmap', 'emoticons', 'link', 'lists', 'searchreplace', 'table', 'wordcount',
            'checklist', 'formatpainter', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'tableofcontents', 'inlinecss', 'markdown', 'importword', 'exportpdf'
          ]
          , toolbar: ['blocks fontfamily fontsize | bold italic underline strikethrough | link table', 'align lineheight | checklist numlist bullist indent outdent | emoticons charmap | writeButton | resizeButton | makeRadioButton']
          , content_style: `.myClass {border: 2px solid red !important;}`
          , table_resize_bars: nowEnable
          , setup: (editor) => {
            editor.ui.registry.addButton('writeButton', {
              text: '작성설정'
              , onAction: (_) => {
                let node = editor.selection.getNode();
                let depth = 0;  // 최대 4단계 제한

                while (node && node.tagName && node.tagName.toLowerCase() !== "td" && depth < 5) {
                  node = node.parentNode;
                  depth++;
                }

                if (node && node.tagName && node.tagName.toLowerCase() === "td") {
                  if(node.classList.contains('myClass')) node.classList.remove("myClass");
                  else node.classList.add("myClass");
                }else {
                  if(editor.selection.getNode().classList.contains('myClass')) editor.selection.getNode().classList.remove('myClass')
                  else editor.selection.getNode().classList.add('myClass')
                }
              }
            });
            editor.ui.registry.addButton('resizeButton', {
              text: '테이블조절'
              , onAction: (_) => {
                nowEnable = !nowEnable;
                toggleTableResize(tag);
              }
            });
            editor.ui.registry.addButton('makeRadioButton', {
              text: '체크활성화'
              , onAction: (_) => {
                let content = editor.getContent();

                content = content.replace(/(<span[^>]*>)(.*?□.*?)(<\/span>)/g, function(match, p1, p2, p3) {
                  // □를 <input type="checkbox">로 변환
                  let checkbox = p2.replaceAll('□', '<input type="checkbox" class="custom-radio" style="margin:5px 1px 1px 1px"/>');
                  return p1 + checkbox + p3;
                });

                editor.setContent(content); // 변경된 내용 반영
              }
            });
            editor.on('init', () => {
              editor.getBody().addEventListener('click', (event) => {
                if (event.target.tagName === 'INPUT' && event.target.type === 'checkbox' && event.target.classList.contains('custom-radio')) {
                  let checkbox = event.target;
                  let parentP = $(checkbox).closest('td');
                  let tobeCheckboxProp = $(checkbox).prop('checked');

                  // 해당 <p> 태그 내의 모든 .custom-radio를 uncheck 상태로 만들기
                  parentP.find('.custom-radio').prop('checked', false);
                  parentP.find('.custom-radio').removeAttr('checked');

                  $(checkbox).prop('checked', tobeCheckboxProp);
                  if(tobeCheckboxProp) $(checkbox).attr('checked', 'checked');
                  else $(checkbox).removeAttr('checked');
                }
              })
            })
          }
          , init_instance_callback: (e) => resolve()
        });
      }catch (e) {
        reject(e);
      }

    });
  } //setManagerTiny

  function setWriterTiny(tag) {
    return new Promise((resolve, reject) => {
      try {
        tinymce.init({
          selector: '#' + tag
          , language: 'ko_KR'
          , resize: true
          , menubar: false
          , toolbar: false
          , editable_class: 'myClass'
          , editable_root: false
          , content_style: `.myClass {border: 2px solid red !important;}`
          , min_height: 500
          , height: tinyHeight
          , branding: false
          , elementpath: false
          , setup: (editor) => {
            editor.on('init', () => {
              editor.getBody().addEventListener('click', (event) => {
                if (event.target.tagName === 'INPUT' && event.target.type === 'checkbox' && event.target.classList.contains('custom-radio')) {
                  let checkbox = event.target;
                  let parentP = $(checkbox).closest('td');
                  let tobeCheckboxProp = $(checkbox).prop('checked');

                  // 해당 <p> 태그 내의 모든 .custom-radio를 uncheck 상태로 만들기
                  parentP.find('.custom-radio').prop('checked', false);
                  parentP.find('.custom-radio').removeAttr('checked');

                  $(checkbox).prop('checked', tobeCheckboxProp);
                  if(tobeCheckboxProp) $(checkbox).attr('checked', 'checked');
                  else $(checkbox).removeAttr('checked');
                }
              })
            })
          }
          , init_instance_callback: (e) => resolve()
        });
      } catch (error) {
        reject(error);
      }
    });
  } //setWriterTiny

  function setListGrid() {
    if(listGrid) return;
    // tui.Grid.applyTheme('striped');
    setGridStyle_a();
    listGrid = new tui.Grid({
      el: document.getElementById('listGrid')
      , data: Object.values(writeList)
      , scrollX: false
      , scrollY: false
      , bodyHeight: 300
      , rowHeight: 35
      , rowHeaders: ['rowNum']
      , columns: [
        {header: 'content값', name: 'idx', hidden: true}
        , {header: '제조기록서', name: 'docName', sortable: true, align: 'center'}
        , {header: '제품명', name: 'prodName', sortable: true}
        , {header: '제조공정', name: 'process', sortable: true}
        , {header: '작업자', name: 'worker', sortable: true, align: 'center'}
        , {header: '작업일자', name: 'workDate', sortable: true, align: 'center'}
      ]
      , contextMenu: ({rowKey, columnName}) => [
        [{
          name: 'export', label: 'Export'
          , subMenu: [{name: 'execlExport', label: '엑셀내보내기(xlsx)', action: () => listGrid.export('xlsx', {fileName:'제조기록서_리스트'})}]
        }]
      ]
    });

    listGrid.on('click', (ev) => {
      if(ev.columnName === 'docName') {
        let idx = listGrid.getValue(ev.rowKey, "idx");
        if(idx) {
          nowDetailContent = idx;
          nowDetailLocation = 'list';
          loadPage('detail', writeList[idx].content);
        }
      }
    })
  }

  function setList_2Grid() {
    if(list_2Grid) return;
    setGridStyle_a();
    list_2Grid = new tui.Grid({
      el: document.getElementById('list_2Grid')
      , data: Object.values(documentList)
      , scrollX: false
      , scrollY: false
      , bodyHeight: 300
      , rowHeight: 35
      , rowHeaders: ['rowNum']
      , columns: [
        {header: 'content값', name: 'idx', hidden: true}
        , {header: '제조기록서', name: 'docName', sortable: true, align: 'center'}
        , {header: '제품명', name: 'prodName', sortable: true}
        , {header: '제조공정', name: 'process', sortable: true}
        , {header: '등록자', name: 'worker', sortable: true, align: 'center'}
        , {header: '등록일자', name: 'workDate', sortable: true, align: 'center'}
      ]
      , contextMenu: ({rowKey, columnName}) => [
        [{
          name: 'export', label: 'Export'
          , subMenu: [{name: 'execlExport', label: '엑셀내보내기(xlsx)', action: () => list_2Grid.export('xlsx', {fileName:'제조기록서양식_리스트'})}]
        }]
      ]
    });

    list_2Grid.on('click', (ev) => {
      if(ev.columnName === 'docName') {
        let idx = list_2Grid.getValue(ev.rowKey, "idx");
        if(idx) {
          nowDetailContent = idx;
          nowDetailLocation = 'form';
          loadPage('detail', documentList[idx].content);
        }
      }
    })
  }

  function setList_3Grid() {
    if(list_3Grid) return;
    setGridStyle_a();
    list_3Grid = new tui.Grid({
      el: document.getElementById('list_3Grid')
      , data: Object.values(documentList)
      , scrollX: false
      , scrollY: false
      , bodyHeight: 300
      , rowHeight: 35
      , rowHeaders: ['rowNum']
      , columns: [
        {header: 'content값', name: 'idx', hidden: true}
        , {header: '제조기록서', name: 'docName', sortable: true, align: 'center'}
        , {header: '제품명', name: 'prodName', sortable: true}
        , {header: '제조공정', name: 'process', sortable: true}
      ]
    });

    list_3Grid.on('click', (ev) => {
      if(ev.columnName === 'docName') {
        let idx = list_3Grid.getValue(ev.rowKey, "idx");
        if(idx) {
          nowDetailContent = idx;
          nowDetailLocation = 'newWrite';
          $("#myModal").fadeOut();
          loadPage('write', documentList[idx].content);
          list_3Grid.destroy();
          list_3Grid = null;
        }
      }
    })
  }

  function setGridStyle_a() {
    tui.Grid.applyTheme('striped' ,{
      selection: {
        background: '#4daaf9',
        border: '#004082'
      },
      scrollbar: {
        background: '#f5f5f5',
        thumb: '#d9d9d9',
        active: '#c1c1c1'
      },
      row: {
        even: {
          background: '#f8f8f8'
        },
        hover: {
          background: '#eee'
        }
      },
      cell: {
        normal: {
          background: '#fbfbfb',
          border: '#e0e0e0',
          showVerticalBorder: true
        },
        header: {
          background: '#eee',
          border: '#ccc',
          showVerticalBorder: true
        },
        rowHeader: {
          border: '#ccc',
          showVerticalBorder: true
        },
        editable: {
          background: '#fbfbfb'
        },
        selectedHeader: {
          background: '#d8d8d8'
        },
        focused: {
          border: '#418ed4'
        },
        disabled: {
          text: '#b0b0b0'
        }
      }
    });
  }

</script>
</body>

</html>