<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>제조기록서</title>

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/css/desktop.css"/>
  <link rel="stylesheet" href="/css/custom.css"/>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/temp.js"></script>

  <script src="https://cdn.tiny.cloud/1/9hwtzxtc2zwisi7b85nco60f3mzb63hrh69z1w3qywn28snr/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>

<body>
<div class="container is-header">
  <!-- nav -->
  <!-- [ Header ] start -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-logo">
      <a class="navbar-link" href="/" rel="noopener">
        <span class="logo is-gsitm-hr is-medium">
          <svg id="svgKgcLogo"><use href="#logo-kgc"></use></svg>
        </span>
      </a>
    </div>
    <div class="navbar-menu">
      <ul class="navbar-left" id="headerMenu">
        <li class="navbar-item" data-target="dom">
          <a class="navbar-link" href="#" aria-current="page" rel="noopener">
            <span class="icon is-person-check is-medium">
              <svg id="svgClipboard"><use href="#clipboard"></use></svg>
            </span>
            <span>문서관리</span>
          </a>
        </li>
        <li class="navbar-item" data-target="com">
          <a class="navbar-link" href="#" aria-current="page" rel="noopener">
            <span class="icon is-person-check is-medium">
              <svg id="svgWindowGear"><use href="#window-gear"></use></svg>
            </span>
            <span>공통관리</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-right">
        <li class="navbar-item">
          <a class="navbar-link" id="btnsiteMap" href="#" aria-current="page" rel="noopener"></a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" id="headerEmplSearch" href="#" aria-current="page" rel="noopener">
            <div class="control is-x-large has-icon-right" style="width: 150px;">
              <input id="inputEmplSearch" type="text" th:placeholder="사원검색" class="input" disabled/>
              <span class="icon is-search is-large">
                  <svg id="svgSearch"><use href="#search"></use></svg>
              </span>
            </div>
          </a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#" aria-current="page" rel="noopener">
            <span class="icon is-logout is-medium">
                <svg id="svgLogout"><use href="#logout"></use></svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- [ Header ] end -->

  <!-- side -->
  <div class="container is-page" id="mainBody">
    <div class="columns is-page">
      <!-- [ navigation menu ] start -->
      <aside class="left-navbar is-active">
        <div class="profile">
          <div class="columns">
            <figure id="_psmstrPhotoPicture" class="id-photo">
              <img id="_psmstrPhotoImg" src="/img/jpg/user-photo-default@2x.jpg" alt="사용자 사진" class="profile-photo"/>
            </figure>
            <div class="profile-content">
              <p class="profile-personnel">
                <span id="_profile_userNm" class="profile-name">테스트</span>
                <span id="_profile_posiNm" class="profile-position">관리자</span>
                <button id="btnProfileSetting" class="button is-setting is-ghost">
                  <span class="icon is-setting is-filled is-white is-medium">
                    <svg id="svgSettingsFilled"><use href="#settings-filled"></use></svg>
                  </span>
                </button>
              </p>
              <p class="profile-personnel">
                <span class="profile-id" id="_profile_userId">testId</span>
                <span class="profile-divider">|</span>
                <span class="profile-team" id="_profile_deptNm">인사팀</span>
              </p>
              <p id="_profile_emailAd" class="profile-email" style="font-size: smaller;"></p>
            </div>
          </div>
          <div class="field">
            <div class="control is-x-large has-icon-right">
              <input id="menuSearch" type="text" th:placeholder="메뉴검색" class="input" autocomplete="off" disabled/>
              <span class="icon is-search is-large">
                <svg id="svgSearch_2"><use href="#search"></use></svg>
              </span>
              <ul class="search-result"></ul>
            </div>
          </div>
        </div>
        <ul class="tabs is-menu">
          <li class="tab is-active" data-target="base">
            <a class="tab-link" href="#" rel="noopener">
              <span class="icon is-medium is-menu">
                <svg id="svgMenu"><use href="#menu"></use></svg>
              </span>
              <span>메뉴</span>
            </a>
          </li>
          <li class="tab" data-target="fav">
            <a class="tab-link" href="#" rel="noopener">
              <span class="icon is-medium is-menu">
                <svg id="svgStar"><use href="#star"></use></svg>
              </span>
              <span>즐겨찾기</span>
            </a>
          </li>
        </ul>
        <div class="tab-contents is-menu">
          <div class="tab-content is-menu is-active">
            <ul id="sideMenuDoc" class="menu" style="display: none;">
              <li class="menu-item">
                <a class="menu-link" href="#" aria-current="page" rel="noopener" onclick="loadPage('list')">
                  제조기록서
                </a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="#" aria-current="page" rel="noopener"  onclick="loadPage($(this).text())">
                  제조기록서 양식
                </a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="#" aria-current="page" rel="noopener" onclick="loadPage($(this).text())">
                  Log 레포트
                </a>
              </li>
            </ul>
            <ul id="sideMenuCom" class="menu" style="display:none;">
              <li class="menu-item">
                <a class="menu-link" href="#" aria-current="page" rel="noopener" onclick="loadPage($(this).text())">
                  공통코드 관리
                </a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="#" aria-current="page" rel="noopener">
                  권한 관리
                  <ul class="sub-menu">
                    <li class="sub-menu-item">
                      <a class="sub-menu-link" href="#" rel="noopener" onclick="loadPage($(this).text())">권한 그룹</a>
                    </li>
                    <li class="sub-menu-item">
                      <a class="sub-menu-link" href="#" rel="noopener" onclick="loadPage($(this).text())">권한 별 유저</a>
                    </li>
                    <li class="sub-menu-item">
                      <a class="sub-menu-link" href="#" rel="noopener" onclick="loadPage($(this).text())">권한 별 메뉴</a>
                    </li>
                  </ul>
                </a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="#" aria-current="page" rel="noopener" onclick="loadPage($(this).text())">
                  사용자 관리
                </a>
              </li>
            </ul>
            <ul id="sideMenuFav" class="menu" style="display: none;">
            </ul>
          </div>
          <div class="tab-content is-favorite">
            <ul id="favoriteMenu" class="favorite"></ul>
          </div>
        </div>
      </aside>
      <div class="page" id="mainContent">
        <!-- 메인 페이지 시작... -->
        <!-- 1(S) -->
        <div class="content" id="listForm" style="display: none;">
          <div class="page is-main">
            <div class="page-body">
              <div class="card is-sub is-search">
                <div class="card-header">
                  <h1 class="page-title">
                    제조기록서(임시페이지로 등록/수정/작성/상세 가능)
                    <div class="columns">
                      <ul aria-label="breadcrumbs"class="breadcrumbs has-chevron-separator">
                        <li class="breadcrumb">
                          <span>홈</span>
                        </li>
                        <li aria-current="page"class="breadcrumb is-active">
                          <a href="#"rel="noopener">제조기록서</a>
                        </li>
                      </ul>
                      <label class="checkbox is-star">
                        <input type="checkbox"/>
                        <span class="icon is-star is-large">
                          <svg><use href="#star"></use></svg>
                        </span>
                        <div class="tooltip">즐겨찾기</div>
                      </label>
                      <button class="button is-question is-ghost">
                        <span class="icon is-question is-filled is-medium">
                          <svg><use href="#question-filled"></use></svg>
                        </span>
                        <div class="tooltip">도움말</div>
                      </button>
                    </div>
                  </h1>
                </div>
                <div class="card-body">
                  <table id="searchTable" class="table is-search is-fullwidth">
                    <colgroup>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 7.4%;"/>
                    </colgroup>
                    <tbody>
                    <tr>
                      <th><span>등록일자</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th><span>공정번호</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th></th>
                      <td></td>
                      <td rowspan="2">
                        <button type="button" id="btnSearch" class="button is-search is-filled is-medium">
                            <span class="icon is-search is-medium">
                                <svg><use href="#search"></use></svg>
                            </span>
                          <span>조회</span>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <th><span>제조번호</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th><span>품목</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th></th>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="card is-sub">
                <div class="card-body">
                  <div class="columns has-gap">
                    <div class="column">
                      <div class="form">
                        <div class="columns has-table-title">
                          <h2 class="table-title">
                            <span>제조기록서</span>
                            <span class="data-count">1<span></span>건</span>
                          </h2>
                          <div class="buttons">
                            <button type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;" onclick="loadPage('regist')">
                              양식 등록
                            </button>
                            <button type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;" onclick="loadPage('update')">
                              양식 수정
                            </button>
                            <button type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;" onclick="loadPage('write')">
                              제조기록서 작성
                            </button>
                            <button type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;" onclick="loadPage('detail')">
                              제조기록서 상세
                            </button>
                            <button type="button" class="button is-outline is-primary is-medium" onclick="alert('미구현 기능입니다.');">
                              <span class="icon is-excel is-medium"><svg><use href="#excel"></use></svg></span>
                              <span>버튼2</span>
                            </button>
                          </div>
                        </div>
                        <div style="height: 420rem;"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 1(E) -->

        <!-- 2(S) -->
        <div class="content" id="emptyForm" style="display: none;">
          <div class="page is-main">
            <div class="page-body">
              <div class="card is-sub is-search">
                <div class="card-header">
                  <h1 class="page-title" id="emptyTitle">빈페이지</h1>
                </div>
                <div class="card-body">
                  <table id="searchTable" class="table is-search is-fullwidth">
                    <colgroup>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 7.4%;"/>
                    </colgroup>
                    <tbody>
                    <tr>
                      <th><span>검색조건1</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th><span>검색조건2</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th></th>
                      <td></td>
                      <td rowspan="2">
                        <button type="button" id="btnSearch" class="button is-search is-filled is-medium" disabled>
                            <span class="icon is-search is-medium">
                                <svg><use href="#search"></use></svg>
                            </span>
                          <span>조회</span>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <th><span>검색조건3</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th><span>검색조건4</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th></th>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="card is-sub">
                <div class="card-body">
                  <div class="columns has-gap">
                    <div class="column">
                      <div class="form">
                        <div class="columns has-table-title">
                          <h2 class="table-title">
                            <span>검색결과</span>
                            <span class="data-count">x<span></span>건</span>
                          </h2>
                        </div>
                        <div style="height: 420rem;"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 2(E) -->

        <!-- 3(S) -->
        <div class="content" id="registForm" style="display: none;">
          <div class="page is-main">
            <div class="page-body">
              <div class="card is-sub is-search">
                <div class="card-header">
                  <h1 class="page-title">제조기록서 등록</h1>
                </div>
                <div class="card-body">
                  <table id="searchTable" class="table is-search is-fullwidth">
                    <colgroup>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 7.4%;"/>
                    </colgroup>
                    <tbody>
                    <tr>
                      <th><span>기타1</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th><span>기타2</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th></th>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="card is-sub">
                <div class="card-body">
                  <div class="columns has-gap">
                    <div class="column">
                      <div class="form">
                        <div class="columns has-table-title">
                          <h2 class="table-title">
                            <span>양식</span>
                          </h2>
                          <div class="buttons">
                            <button id="btnRegist" type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;">
                              등록하기
                            </button>
                            <button type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;">
                              기타버튼2
                            </button>
                          </div>
                        </div>
                        <div style="height: 465rem;">
                          <div id="registTiny"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 3(E) -->

        <!-- 4(S) -->
        <div class="content" id="updateForm" style="display: none;">
          <div class="page is-main">
            <div class="page-body">
              <div class="card is-sub is-search">
                <div class="card-header">
                  <h1 class="page-title">제조기록서 수정</h1>
                </div>
                <div class="card-body">
                  <table id="searchTable" class="table is-search is-fullwidth">
                    <colgroup>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 7.4%;"/>
                    </colgroup>
                    <tbody>
                    <tr>
                      <th><span>기타1</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th><span>기타2</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th></th>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="card is-sub">
                <div class="card-body">
                  <div class="columns has-gap">
                    <div class="column">
                      <div class="form">
                        <div class="columns has-table-title">
                          <h2 class="table-title">
                            <span>양식</span>
                          </h2>
                          <div class="buttons">
                            <button id="btnUpdate" type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;">
                              수정하기
                            </button>
                            <button id="btnUpdateLoad" type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;">
                              불러오기
                            </button>
                          </div>
                        </div>
                        <div style="height: 465rem;">
                          <div id="updateTiny"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 4(E) -->

        <!-- 5(S) -->
        <div class="content" id="writeForm" style="display: none;">
          <div class="page is-main">
            <div class="page-body">
              <div class="card is-sub is-search">
                <div class="card-header">
                  <h1 class="page-title">제조기록서 작성</h1>
                </div>
                <div class="card-body">
                  <table id="searchTable" class="table is-search is-fullwidth">
                    <colgroup>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 7.4%;"/>
                    </colgroup>
                    <tbody>
                    <tr>
                      <th><span>기타1</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th><span>기타2</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th></th>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="card is-sub">
                <div class="card-body">
                  <div class="columns has-gap">
                    <div class="column">
                      <div class="form">
                        <div class="columns has-table-title">
                          <h2 class="table-title">
                            <span>양식</span>
                          </h2>
                          <div class="buttons">
                            <button id="btnWrite" type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;">
                              작성하기
                            </button>
                            <button id="btnWriteLoad" type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;">
                              불러오기
                            </button>
                          </div>
                        </div>
                        <div style="height: 465rem;">
                          <div id="writeTiny"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 5(E) -->

        <!-- 6(S) -->
        <div class="content" id="detailForm" style="display: none;">
          <div class="page is-main">
            <div class="page-body">
              <div class="card is-sub is-search">
                <div class="card-header">
                  <h1 class="page-title">제조기록서 상세</h1>
                </div>
                <div class="card-body">
                  <table id="searchTable" class="table is-search is-fullwidth">
                    <colgroup>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 9%;"/>
                      <col/>
                      <col style="width: 7.4%;"/>
                    </colgroup>
                    <tbody>
                    <tr>
                      <th><span>기타1</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th><span>기타2</span></th>
                      <td>
                        <input type="text" class="input"/>
                      </td>
                      <th></th>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="card is-sub">
                <div class="card-body">
                  <div class="columns has-gap">
                    <div class="column">
                      <div class="form">
                        <div class="columns has-table-title">
                          <h2 class="table-title">
                            <span>양식</span>
                          </h2>
                          <div class="buttons">
                            <button type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;">
                              기타버튼1
                            </button>
                            <button id="btnDetailLoad" type="button" class="button is-outline is-primary is-medium" style="margin-right: 10px;">
                              불러오기
                            </button>
                          </div>
                        </div>
                        <div style="height: 465rem;">
                          <div id="detailTiny"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 6(E) -->

        <div id="myModal" class="my-modal">
          <div class="my-modal-content">
            <span class="my-close">&times;</span>
            <h1 class="page-title" id="myModalTitle">등록하기</h1>
            <input type="hidden" id="modalTinyName"/>
            <input type="hidden" id="modalActType"/>
            <br/>
            <div>
              <button type="button" class="button is-outline is-primary is-medium" onclick="setModalContent(1)">샘플_1</button>
              <button type="button" class="button is-outline is-primary is-medium" onclick="setModalContent(2)">샘플_2</button>
              <button type="button" class="button is-outline is-primary is-medium" onclick="setModalContent(3)">샘플_3</button>
            </div>
          </div>
        </div>
        <!-- 메인 페이지 끝... -->
      </div>
    </div>
  </div>
</div>

<script th:inline="javascript">

  let nowEnable = false;    //테이블 resize 현재값
  let documentList = {
    'list_1': {'name':'샘플_1','content':content_1}
    , 'list_2': {'name':'샘플_2','content':content_2}
    , 'list_3' : {'name':'샘플_3','content':content_3}
  };

  $(document).ready(function() {
    setTinyMce('registTiny');
    setTinyMce('updateTiny');
    setTinyMce('writeTiny');
    setSvg();
    initEvent();
  })  //document.ready

  function setSvg() {
    const svgPath = "/img/svg/"; // SVG 파일 경로

    $("svg").each(function () {
      const $svg = $(this);
      const symbolId = $svg.find("use").attr("href").replace("#", ""); // href 값에서 # 제거
      const filePath = `${svgPath}${symbolId}.svg`; // 파일 경로 만들기

      // SVG 파일 불러와서 대체
      $.get(filePath, function (data) {
        const svgContent = $(data).find("svg").html(); // SVG 내부 내용만 가져오기
        $svg.html(svgContent); // 기존 <use>를 대체
      });
    });
  } //setSvg


  function initEvent() {
    //GNB
    $("#headerMenu .navbar-item").click(function() {
      $("#headerMenu .navbar-item").removeClass("is-active");

      // 클릭한 li에 is-active 추가
      $(this).addClass("is-active");
      if($(this).data('target') == 'dom') {
        $("#sideMenuCom").hide();
        $("#sideMenuFav").hide();
        $("#sideMenuDoc").show();
      }else if($(this).data('target') == 'com') {
        $("#sideMenuDoc").hide();
        $("#sideMenuFav").hide();
        $("#sideMenuCom").show();
      }
    });

    //LNB
    $("ul.menu .menu-item").click(function() {
      let isAlreadyActive = $(this).hasClass('is-active');
      if(!isAlreadyActive) {
        $(".sub-menu-item").removeClass('is-active');
        $("ul.menu .menu-item").removeClass('is-active');
        $(this).addClass('is-active');
      }
    });

    //LNB
    $("ul.menu .menu-item .sub-menu .sub-menu-item").click(function() {
      let isAlreadyActive = $(this).hasClass('is-active');
      if(!isAlreadyActive) {
        $(".sub-menu-item").removeClass('is-active');
        $(this).addClass('is-active');
      }
    });

    //TABS(메뉴/즐겨찾기)
    $("ul.tabs .tab").click(function() {
      $("ul.tabs .tab").removeClass('is-active');
      $(this).addClass('is-active');

      if($(this).data('target') == 'base') {
        let gnb = $("#headerMenu .navbar-item.is-active").data("target");
        if(gnb && gnb == 'dom') {
          $("#sideMenuCom").hide();
          $("#sideMenuFav").hide();
          $("#sideMenuDoc").show();
        }else if(gnb && gnb == 'com') {
          $("#sideMenuDoc").hide();
          $("#sideMenuFav").hide();
          $("#sideMenuCom").show();
        }else {
          $("#sideMenuDoc").hide();
          $("#sideMenuFav").hide();
          $("#sideMenuCom").hide();
        }
      }else if($(this).data('target') == 'fav') {
        $("#sideMenuDoc").hide();
        $("#sideMenuCom").hide();
        $("#sideMenuFav").show();
      }
    });

    $("#btnWrite").click(() => {
      $("#myModalTitle").text('작성하기');
      $("#modalTinyName").val('writeTiny');
      $("#modalActType").val('set');
      $("#myModal").fadeIn();
    });

    $("#btnWriteLoad").click(() => {
      $("#myModalTitle").text('불러오기');
      $("#modalTinyName").val('writeTiny');
      $("#modalActType").val('get');
      $("#myModal").fadeIn();
    });

    $("#btnDetailLoad").click(() => {
      $("#myModalTitle").text('불러오기');
      $("#modalTinyName").val('detailTiny');
      $("#modalActType").val('get');
      $("#myModal").fadeIn();
    });

    $("#btnUpdate").click(() => {
      $("#myModalTitle").text('수정하기');
      $("#modalTinyName").val('updateTiny');
      $("#modalActType").val('set');
      $("#myModal").fadeIn();
    });

    $("#btnUpdateLoad").click(() => {
      $("#myModalTitle").text('불러오기');
      $("#modalTinyName").val('updateTiny');
      $("#modalActType").val('get');
      $("#myModal").fadeIn();
    })

    $("#btnRegist").click(() => {
      $("#myModalTitle").text('등록하기');
      $("#modalTinyName").val('registTiny');
      $("#modalActType").val('set');
      $("#myModal").fadeIn();
    });

    $(".my-close, .my-modal").click(function(event){
      if (event.target === this) {
        $("#myModal").fadeOut();
      }
    });
  } //initEvent

  function setModalContent(num) {
    let tinyTarget = tinymce.get($("#modalTinyName").val());
    if(tinyTarget) {
      if($("#modalActType").val() === 'set') {
        if(num === 1) {
          content_1 = tinyTarget.getContent();
        }else if(num === 2) {
          content_2 = tinyTarget.getContent();
        }else if(num === 3) {
          content_3 = tinyTarget.getContent();
        }
        $("#myModal").fadeOut();
        loadPage('list');
      } else if($("#modalActType").val() === 'get') {
        if(num === 1) {
          tinyTarget.setContent(content_1);
        }else if(num === 2) {
          tinyTarget.setContent(content_2);
        }else if(num === 3) {
          tinyTarget.setContent(content_3);
        }
        $("#myModal").fadeOut();
      }
    }else if ($("#modalTinyName").val() === 'detailTiny') {
      if(num === 1) {
        $("#detailTiny").html(content_1);
      }else if(num === 2) {
        $("#detailTiny").html(content_2);
      }else if(num === 3) {
        $("#detailTiny").html(content_3);
      }
      $("#myModal").fadeOut();
    }
    $("#modalActType").val('')
    $("#modalTinyName").val('');
    $("#myModalTitle").text('');
  }

  function loadPage(type) {
    $(".tox-statusbar__branding").hide();
    if (type === 'list') {
      $("#emptyForm, #registForm, #updateForm, #writeForm, #detailForm").fadeOut(300).promise().done(function() {
        $("input").val('');
        if(tinymce.get().length>0) tinymce.get().forEach(editor => editor.setContent(''));
        $("#listForm").fadeIn(300);
      });
    } else if (type === 'write') {
      $("#listForm, #emptyForm, #registForm, #updateForm, #detailForm").fadeOut(300).promise().done(function() {
        $("input").val('');
        if(tinymce.get().length>0) tinymce.get().forEach(editor => editor.setContent(''));
        tinymce.get('writeTiny').setContent(content_1);
        $("#writeForm").fadeIn(300);
      });
    } else if (type === 'update') {
      $("#listForm, #emptyForm, #registForm, #writeForm, #detailForm").fadeOut(300).promise().done(function() {
        $("input").val('');
        if(tinymce.get().length>0) tinymce.get().forEach(editor => editor.setContent(''));
        $("#updateForm").fadeIn(300);
      });
    } else if (type === 'regist') {
      $("#listForm, #emptyForm, #updateForm, #writeForm, #detailForm").fadeOut(300).promise().done(function() {
        $("input").val('');
        if(tinymce.get().length>0) tinymce.get().forEach(editor => editor.setContent(''));
        $("#registForm").fadeIn(300);
      });
    } else if(type === 'detail') {
      $("#listForm, #emptyForm, #registForm, #updateForm, #writeForm").fadeOut(300).promise().done(function() {
        $("input").val('');
        if(tinymce.get().length>0) tinymce.get().forEach(editor => editor.setContent(''));
        $("#detailForm").fadeIn(300);
      });
    } else {
      $("#listForm, #emptyForm, #registForm, #updateForm, #writeForm, #detailForm").fadeOut(300).promise().done(function() {
        $("input").val('');
        if(tinymce.get().length>0) tinymce.get().forEach(editor => editor.setContent(''));
        $("#emptyTitle").text(type);
        $("#emptyForm").fadeIn(300);
      });
    }
  } //loadPage

  function setTinyMce(tag) {
    if(tag === 'writeTiny') {
      setWriterTiny(tag);
    }else {
      setManagerTiny(tag);
    }
  }

  function toggleTableResize(editorId) {
    let editor = tinymce.get(editorId); // 현재 에디터 가져오기

    if (editor) {
      let tempContent = editor.getContent();
      editor.destroy(); // 현재 에디터 제거
      setManagerTiny(editorId);
      tinymce.get(editorId).setContent(tempContent);
    }
  }

  function setManagerTiny(tag) {
    tinymce.init({
      selector: '#'+tag
      , language: 'ko_KR'
      , resize: 'both'
      , height: 490
      , plugins: [
        // Core editing features
        'anchor', 'charmap', 'emoticons', 'link', 'lists', 'searchreplace', 'table', 'wordcount',
        'checklist', 'formatpainter', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'tableofcontents', 'inlinecss', 'markdown', 'importword'
      ]
      , toolbar: 'blocks fontfamily fontsize | bold italic underline strikethrough | link table | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | writeButton noWriteButton | resizeButton'
      , content_style: `.myClass {border: 2px solid red !important;}`
      , table_resize_bars: nowEnable
      , setup: (editor) => {
        editor.ui.registry.addButton('writeButton', {
          text: '작성설정'
          , onAction: (_) => {
            let node = editor.selection.getNode();
            let depth = 0;  // 최대 4단계 제한

            while (node && node.tagName && node.tagName.toLowerCase() !== "td" && depth < 5) {
              node = node.parentNode;
              depth++;
            }

            if (node && node.tagName && node.tagName.toLowerCase() === "td") {
              node.classList.add("myClass");
            }else {
              editor.selection.getNode().classList.add('myClass')
            }
          }
        });
        editor.ui.registry.addButton('noWriteButton', {
          text: '작성해제'
          , onAction: (_) => {
            let node = editor.selection.getNode();
            let depth = 0;  // 최대 4단계 제한

            while (node && node.tagName && node.tagName.toLowerCase() !== "td" && depth < 5) {
              node = node.parentNode;
              depth++;
            }

            if (node && node.tagName && node.tagName.toLowerCase() === "td") {
              node.classList.remove("myClass");
            }else {
              editor.selection.getNode().classList.remove('myClass')
            }
          }
        });
        editor.ui.registry.addButton('resizeButton', {
          text: '테이블조절'
          , onAction: (_) => {
            nowEnable = !nowEnable;
            toggleTableResize(tag);
          }
        });
      }
    });
  }

  function setWriterTiny(tag) {
    tinymce.init({
      selector: '#'+tag
      , language: 'ko_KR'
      , resize: false
      , menubar: false
      , toolbar: false
      , editable_class: 'myClass'
      , editable_root: false
      , content_style: `.myClass {border: 2px solid red !important;}`
      , height: 490
    });
  }


</script>
</body>

</html>